@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased font-mono min-h-screen select-none;
    margin: 0;
    padding: 0;
  }
}

/* Animations et effets retro pour le Datacorder et le Canvas */
.crt-screen {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 255, 66, 0.2);
}

.tape-hub-spin {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}